.gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    .white-background {
        background-color: #FFFFFF; /* Change this value to the desired color */
      }
      .custom-card {
        background-color: greenyellow; /* Change this value to the desired color */
      }
      .login {
        width: 300px;
        height: min-content;
        border-radius:5px;
      }
      .form-control.invalid {
        border-color: red;
      }
      
      .invalid-feedback {
        color: red;
      }