/* .profile{
    display: "flex";
    flex-direction: column;
    justify-content: "space-around";
    margin: "18px 0px";
}
.profile__image{
    width:"60px";
    height: "60px"; 
    border-radius:"80px";
} */