.head{
    background-color: #051e3e;
    text-align: center;
    height: 50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* .hommies{
    /* background-color: #A2D2FF; */

/* } */ 
body{
    /* background-color: #A2D2FF; */
    width: 100%;
    height: 100vh;
    background-color: #36768c;
    font-family: 'roboto', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.box1{
    background-color: white;
    
    padding: 10px;
    margin: 10px;
    background-image: url('https://www.rautnursinghome.com/images/displayimage/c8c34128f3bb4511c347dc2a1a38146507e645e3549575250bfb2.png?type=d');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    box-shadow: 0 0 20px #4a2929;
    transition: all 1s;
    /* background-position: center; */
    height: 400px;
    width: 460px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid white;
    position: relative;
    flex-direction: column;
    justify-content: center;

    
    /* align-items: center; */
}
/* .wrap1{
    display: flex;
} */
/* .abt{
    text-align: center;
} */
/* .write{
    text-align: center;
    color: white;
    padding: 50px;
} */
.Buton{
    text-align: center;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: rgb(3, 3, 91);
    color: #fcfcfc;
    width: 90px;
    height: 20px;
    margin: auto;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.Buton:hover{
    color: rgb(188, 205, 218);
    box-shadow:  0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan,
    0 0 5px cyan, 0 0 5px cyan;
    transition: 5sec ease;
    
    /* z-index: 2; */
    /* background-size: 110px; */
    background-color: #A2D2FF;
    color: rgb(3, 12, 56);
    
}
/* .box1:hover{
    /* transform: scale(1.1); */

    /* transition: 30s; */

/* } */ 
.box1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}
.write{
    width: 100%;
    height: 100%;
    top: 0;
    right: -108%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px ;
    color: white;
    padding: 30px;
    padding-right: 0px;
    text-align: center;
    transition: 2s;
}
.tittle{
     text-transform: uppercase;
     font-size: 50px;
    font-weight: 500;
 
}

.sub_tittle{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;

}
.info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;


}
.box1:hover .write{
    right: 0;

}