* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color:#f4e6e4;
}

.container {
  align-items: center;
  max-width: 400px;
  margin: 100px auto;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
  background-color: #FFF6F6;
}
.card-header {
  background-color: #ffaca4;
  color: #000000;
  border-radius: 10px 10px 0 0;
}

.form-control:focus {
  border-color: #ffaca4;
  box-shadow: none;
}

.btn {
  color: #000000;
  font-weight: 400;
  background-color: #ffaca4;
  border-color: #ffaca4;
}

.btn:hover {
  background-color: #ffaca4;
  border-color: #ffaca4;
}

.btn:active {
  background-color: #ffaca4;
  border-color: #ffaca4;
}

.password-strength {
  font-size: 0.8rem;
  margin-top: 5px;
}

.password-match-success {
  color: #20913b;
}

.password-match-error {
  color: #cd2738;
}