/* Navbar */
.navbar {
  padding: 10px;
  transition: 1s;
  background: #f99890;
}

.navbar-brand {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-style: italic;
  padding-left: 150px;
  font-size: 50px;
  color: #000000 !important;
  text-transform: capitalize;
}
.navbar-nav {
  padding-left: 300px;
}
.nav-link {
  font-weight: bold;
  font-style: italic;
  color: #000000 !important;
  margin-left: 5px;
  transition: 0.65;
  border-radius: 20px;
  text-transform: capitalize;
}
.nav-link:hover {
  transform: translateY(-5px);
  background: #fdbfb9;
}
/* Hero Section Styles */
#carouselExample {
  margin-top: 70px;
}
#carouselExample .carousel-inner {
  border-radius: 8px;
}
#carouselExample .carousel-inner img {
  border-radius: 8px;
  max-width: 100%;
  max-height: 520px;
  margin: 0 auto;
  display: block;
  align-items: center;
}
#Hero{
  background: #ffdad8;
  padding: 10px 0;
  text-align: center;
}

/* Portfolio Section Styles */
.portfolio-section {
  background-color: #ffdad8;
  padding: 30px 0;
}
.portfolio-section h2 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.portfolio-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-carousel img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin: 10px;
}
/* Contact Section */
.contact-section {
  padding: 50px 0;
  text-align: center;
  margin: 0px;
  max-height: 500px;
}
.contact-section h2 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contact-section h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.contact-section .Downinfo p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Downinfo{
  padding: 50px 0;
  text-align: left;
  margin: 0px;
}
/* Vertical Navigation */
.vertical-nav{
  text-align: center;
  padding: 50px 0;
  padding-right: 100px;
}
.navbar-nav1 {
  padding-left: 100px;
}
/* Social Media Icons */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icons a {
  margin: 0 10px;
  color: #000000;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}
.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}
/* Footer */
.footer {
  background: #f99890;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer p {
  margin: 0;
}
.footer a {
  color: #000000;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
