* {
  background-color: black;
}

/* https://media.istockphoto.com/id/1042084638/photo/asphalt-texture-background.jpg?s=612x612&w=0&k=20&c=2pv8igIyvV2O_OE4jzr2CanEJmQsjum8stE_oIo5RS0= */
.hello-hello-2 {
  background-color: grey;
  background-image: url("https://st.depositphotos.com/2577341/3646/i/450/depositphotos_36461449-stock-photo-asphalt-road-texture-with-yellow.jpg");
  background-size: cover;
  background-position: center;
}

.hello-hello {
  margin-top:120%;
  background-color: rgba(0, 0, 0, 0);
  
}

.Hello-hello-hello {
  height: 80px;
  width: 80px;
  background-color: white;
  color: red;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px red;
  }

  50% {
    box-shadow: 0 0 20px red;
  }

  100% {
    box-shadow: 0 0 5px red;
  }
}

.helo-helo-helo {
  border-radius: 30px;
  width: 150px;
  height: 60px;
}

.rounded-full {
  box-shadow: 2px 2px 6px black;
}

.second-second {
  background-image: url("https://media.istockphoto.com/id/1042084638/photo/asphalt-texture-background.jpg?s=612x612&w=0&k=20&c=2pv8igIyvV2O_OE4jzr2CanEJmQsjum8stE_oIo5RS0=");
  background-size: cover;
  background-position: center;
  background-color: gray;
}

.second-second-second {
  border-radius: 35px;
  width: 65px;
  height: 150px;
  margin-right: -43px;
  margin-left: -423px;
}
.third-second-second {
  border-radius: 35px;
  width: 65px;
  height: 150px;
  margin-left: -32px;
  margin-right: -401px;
}
.helo-helo-helo-helo {
  border-radius: 30px;
  width: 150px;
  height: 60px;
  margin-top: -43px;
}
