<div class="bgimg">
    <nav class="navbar navbar-expand-sm bg-light nav-dark">
        <div class="container">
            <a href="" class="navbar-brand"><img
                    src="https://www.onblastblog.com/wp-content/uploads/2017/08/blogger-logo.jpg"
                    style="width:100px; height: 50px;"> </a>
            <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
                        <a href="viewBlog" class="nav-link text-dark"> VIEW BLOGS </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="viewUsers" class="nav-link text-dark"> ALL USERS </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="following" class="nav-link text-dark"> FOLLOWING </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="logout" class="nav-link text-dark"> LOGOUT </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>