.footer{
    background : rgba(238,238,238,238);
}

.footer .box-container{
    display : flex;
    flex-wrap : wrap;
    gap : 0.1rem;
}

.footer .box-container .box{
    padding : 0.5rem;
    flex : 1 1 0.5rem; 
}

.footer .box-container .box.About{
    flex : 1 1 100%;
    margin: 0px 50px;
}

.footer .box-container .box h3{
    font-size : 1.5rem;
    padding : .7rem 0;
    color : var(--comp-text-color);
    text-align : center;
}

.footer .box-container .box p{
    font-size : 1rem;
    padding : .2rem 0;
    color : var(--comp-text-color);
}



.footer .box-container .box a{
    display : block;
    font-size : 1rem;
    padding : 0 0;
    color : var(--comp-text-color);
    text-align : center;
}

.footer .box-container .box a:hover{
    color : var(--orange);
    text-decoration : underline;
}

.footer .credit{
    text-align : center;
    margin-top : 1rem;
    padding : 2rem 1rem;
    font-size : 2rem;
    font-weight : normal;
    color : var(--comp-text-color);
    border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
    color : var(--comp-text-color);

}
